<IfModule mod_rewrite.c>
    RewriteEngine on
    
    # HTTPS Yönlendirmesi
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    
    # public Klasörü Yönlendirmesi
    RewriteCond %{REQUEST_URI} !^public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<FilesMatch "\.php$">
    SetHandler application/x-httpd-php81
</FilesMatch>
